<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <style>
        body {
            background-color: rgb({{ backColor[0][0] }}, {{ backColor[0][1] }}, {{ backColor[0][2] }});
        }
    </style>
</head>
<body>
    <div class="App">
        <header class="App-header">
            <img src="{{ slika }}" class="App-logo" alt="logo" />
            <h1>{{ title }}</h1>
            <p>Ingredients:</p>
            <div class="ingredients-list">
                {{ ingredients | safe }}
            </div>
        </header>
    </div>
</body>
</html>
